* {
    box-sizing: border-box;
    text-transform: uppercase;
    font-family: "Roboto", -apple-system, sans-serif;
    font-weight: 400;
}

body {
    margin: 0 1%;
}

/*header*/

header {
    position: sticky;
    top: 0;
    z-index: 2;
    border: var(--border-lending);
    padding: 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: white; 
}

nav {
    display: flex;
    left: 15vw;
    align-items: center;
    gap: 25vw;
    padding-left: 1%;
}

.left-nav, .right-nav {
    display: flex;
    gap: 2vw;
}

header picture {
    position: absolute;
    left: 43%;
}

header picture img {
    max-height: 5vw;
    min-height: 5vw;
}

.button-navigation {
    background-color: white;
    color: black;
    border: none;
}

.button-navigation:hover {
    background-color: var(--button-navigation);
    color: white;
} 

.button-primary, .checkbox-button {
    background-color: var(--button-primary-color);
    color: white;
    border: none;
}

input[type="checkbox"] {
    display: none;
}

.button-primary, .button-navigation, .checkbox-button {
    font-size: 1.2vw;
    height: 3.5vw;
    align-content: center;
    text-align: center;
}

.button-primary, .checkbox-button, .button-navigation {
    width: 10vw;
}

/* Section-banner*/

.section-banner img, .girl-with-product-picture img, .frame-logo img, 
.frame-description img, .green-flame img,
.section-history-souce-picture img, .product img {
    width: 100%;
    height: 100%;
}

.product img {
    max-width: 100%;
    max-height: 100%;
}

.frame-description, .green-flame, .frame-logo, 
.products, .catalog-decoration {
    width: 100%;
    height: 100%;
}

.section-banner {
    display: grid;
    grid-template-columns: 50% 50%;
}

.section-banner > div {
    border: var(--border-lending);
    display: flex;
    justify-content: center;
    align-items: center;
}

/*logo*/

.white_font {
    position: absolute;
    z-index: 1;
    width: 85%;
    max-width: 100%;
} 

.black_font {
    position: absolute;
    z-index: 0;
    width: 100vw;
    max-width: 100%;
}

.section-banner-logo .black_font {
    position: relative;
}

.section-banner-logo .white_font img,
.section-banner-logo .black_font img {
    width: 100%;
    height: auto;
}

.white_font img,
.black_font img {
    width: 60%;
    height: auto;
}

.logo {
    position: relative;
}

.section-banner-logo {
    grid-row: span 2;
    padding: 3% 2%;
}

.creeping-line { 
    padding: 0.5vw 0;
    border: var(--border-lending);
    white-space: nowrap;
    overflow: hidden;
}

.creeping-content {
    display: flex;
    gap: 2%;
    justify-content: center;
    align-items: center;
    animation: move 10s linear infinite;
}

@keyframes move {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}

.creeping-line p {
    font-size: 2.5vw;
}

.creeping-line picture img {
    width: 5vw;
    height: auto;
}

.section-title {
    font-size: 3vw;
    text-align: center;
    align-content: center;
    padding: 2vw 4vw; 
}

.section-title h1 {
    margin-block-start: 0;
    margin-block-end: 0;
}

.souce-picture-with-red-background {
    grid-row: span 3;
}

.souce-picture-with-green-background,  .souce-picture-with-red-background{
    padding: 1vw;
} 

.souce-picture-with-green-background picture,  
.souce-picture-with-red-background picture {
    width: 100%;
    height: 100%;
}

/*section-calatog*/

.section-catalog-title {
    font-size: 3vw;
    display: flex;
    border: var(--border-lending);
    gap: 2rem;
    align-items: center;
    text-align: center;
    padding: 0 2%;
    justify-content: center;
}

.section-catalog-title img {
    max-width: 100%;
    width: 15vw;
}

.section-catalog-content {
    border: var(--border-lending);
    position: relative;
}

.catalog-decoration {
    display: flex;
    justify-content: space-between;
    position: absolute;
    padding: 1%;
}

.catalog-decoration img {
    width: 4vw;
}

.products {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1%;
}

.products img {
    width: 30vw;
}

.product {
    position: relative;
}

.product-picture {
    position: absolute;
    top: 35%;
    left: 5%;
    width: 90%;
}

.product-text {
    position: absolute; 
    text-align: center;
    top: 17%;
    left: 15%;
}

.product-description {
    font-size: 1.2vw;
}

.product-title {
    font-size: 2vw;
}

/*section-history*/

.section-history-souce-picture {
    border: var(--border-lending);
    padding: 1vw;
}

.section-history .section-title {
    padding: 0;
}

.section-history-grid {
    display: grid;
    grid-template-columns: 50% 50%;
}

.section-history-grid > div {
    border: var(--border-lending);
}

.section-history-description {
    display: flex; 
    flex-direction: column; 
    grid-row: span 2;
    position: relative;
    align-items: center;
    justify-content: center;
}

.section-history-text {
    text-align: center;
    z-index: 1;
    font-size: 1.2vw;
    width: 60%;
    line-height: 150%;
}

.frame-description {
    position: absolute;
}

/*section-logo*/

.section-logo {
    position: relative;
    border: var(--border-lending);
}

.green-flame {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.section-logo-frame {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
    z-index: 1;
    width: 100%;
    height: auto; 
}

.section-logo-frame .logo {
    position: absolute;
}

.section-logo-frame .black_font,  .section-logo-frame .white_font{
    display: flex;
    justify-content: center;
}

/*footer*/

footer {
    background: var(--footer-color);
    border: var(--border-lending);
    padding: 1%;
}

.footer-content {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    padding: 1% 2%;
    text-decoration: none;
}

.footer-content a, .footer-content span {
    font-size: 1vw; 
}


@media (max-width: 960px) {
    body {
        margin: 0;
    }

    header picture img {
        max-height: 10vw;
        min-height: 10vw;
    }   

    .button-primary, .checkbox-button {
        width: 10vw;
        height: 10vw;
    }

    .button-primary, .checkbox-button {
        background-size: 50%;
        background-repeat: no-repeat;
        background-position: center;
    }

    .button-primary span, .checkbox-button span {
        display: none;
    }

    .button-navigation {
        text-align: start;
        width: 100%;
    }

    label.checkbox-button {
        display: block;
        cursor: pointer;
        background-image: url('../images/button-menu.svg');
    }

    #checkbox-btn:checked + label {
        background-image: url('../images/button-close.svg');
    }

    nav {
        width: 100%;
        position: absolute;
        top: 14vw;
        left: 0;
        flex-direction: column;
        align-items: flex-start;
        max-width: 100%;
        display: none;
        gap: 0;
        padding: 2%;
        z-index: -1;
    }

    .left-nav, .right-nav {
        flex-direction: column;
        gap: 0;
        width: 100%;
    }

    #checkbox-btn:checked ~ nav {
        display: flex;
        animation: show-menu 0.3s linear;
        border: var(--border-lending);
    }

    nav::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        background-color: white; 
    }

    .button-primary {
        background-image: url('../images/button-group.svg');
    }

    .section-banner {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .section-banner .section-title {
        order: 4;
    }

    .section-banner .souce-picture-with-red-background {
        order: 5;
    }

    .section-banner > div {
        width: 100%;
    }
    
    .black_font {
        position: relative;
    }
    
    .section-banner-logo .white_font img,
    .section-banner-logo .black_font img {
        width: 100%;
        height: auto;
    }
    
    .section-catalog-content {
        overflow-x: scroll;
    }

    .product img {
        width: 100%; 
        height: auto; 
    }

    .catalog-decoration img {
        width: 12vw;
        height: auto;
    }

    .product {
        width: 125%; 
        height: auto; 
    }

    .products {
        display: flex;
        flex-wrap: nowrap; 
        justify-content: flex-start; 
        gap: 1%;
        width: 250%;
    }

    .catalog-decoration {
        display: flex;
        flex-wrap: nowrap; 
        width: 250%;
        padding: 1%;
    }

    .product-text {
        position: absolute; 
        text-align: center;
        top: 15%;
        left: 12%;
    }
    
    .product-description {
        font-size: 4.5vw;
    }
    
    .product-title {
        font-size: 6vw;
    }

    .section-history-grid {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section-title {
        width: 100%;
    }

    .section-title h2 {
        padding: 0 25%;
        line-height: 125%;
    }

    .section-title h1 {
        padding: 0 5%;
        line-height: 125%;
        font-size: 200%;
    }

    .girl-with-product-picture {
        order: 2;
    }

    .section-history-description {
        order: 3;
    }

    .girl-with-product-picture {
        width: 100%;
        height: 100%;
    }

    .section-history-description {
        width: 100%;
    }
    
    .frame-description {
        width: 100%;
        height: auto;
        position: relative;
    }
    
    .frame-description img {
        width: 100%;
        height: auto;
        display: block;
    }

    .section-history-text {
        position: absolute;
        font-size: 3vw;
        line-height: 100%;
    }
    
    .footer-content { 
        padding: 5% 2%;
    }
    
    .footer-content a, .footer-content span {
        display: block; 
    }

    .footer-content a {
        margin-top: -7%;
        font-size: 3vw;
    }

    .footer-content span {
        margin-top: 10%;
        font-size: 2.8vw;
        line-height: 1vw;
    }
}

@media (prefers-color-scheme: dark) {
    body, .button-navigation {
        background-color: black;
        color: white;
    }

    header::before, nav::before {
        background-color: black;
    }

    .logo picture, header picture, .frame-description picture,
    .catalog-decoration picture, .creeping-line picture, 
    .section-catalog-title picture, picture.frame-logo {
        filter: invert(1);
    }

    footer, .product {
        color: black;
    }
}

@media (prefers-reduced-motion: reduce) {
    * {
        animation: none !important;
    }
}

.creeping-content {
    animation: move 10s linear infinite;
}

@keyframes move {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0%);
    }
}

@keyframes show-menu {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0%);
    }
}